<html>
	<head th:replace="~{base :: head}"></head>
	<body onload="onLoad()">
		<div th:replace="~{base :: logo}"></div>
		<div class="container" id="ofertas">
			<div th:replace="~{base :: titulo('Últimos Pedidos')}"></div>
			<div class="card mt-3 mb-3" v-for="pedido in pedidos">
				<div class="card-header alert-dark">{{pedido.nomeProduto}}</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div class="row ">
								<div class="col-md-5">Valor: <input/></div>
								<div class="col-md-6">Data da entrega: <input/></div>
							</div>
							<div>Produto</div>
							<div>
								<a class="form-control" v-bind:href="pedido.urlProduto">{{pedido.nomeProduto}}</a>
							</div>
							<div>Descrição</div>
							<div>
								<textarea class="form-control">{{pedido.descricao}}</textarea>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" v-bind:src="pedido.urlImagem"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			function onLoad() {
				var app = new Vue({
					 el: '#ofertas',
					 data: {
					    pedidos: []
					 },
					 mounted () {
						axios
						   .get('http://localhost:8080/api/pedidos/aguardando')
						   .then(response => (this.pedidos = response.data))
					}
				});
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</body>
</html>